PORT=3000

DATABASE_URL=your_neon_database_url

EMAIL_HOST=smtp.elasticemail.com
EMAIL_PORT=2525
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_elastic_email_api_key
EMAIL_FROM=OTP Service <your_email@example.com>
